*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.header {
    display: flex;
    padding: 25px;
    border-style: outset;
    box-shadow: 2px;
    border-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    opacity: 0;
    background-color: white;
    animation: fadeInDown 1s ease forwards; 
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}
.he1 {
    flex-grow: 3;
    padding-left: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: #004d4d;
}
.header h3 {
    transition: color 0.3s ease, font-size 0.3s ease;
}
.he2 {
    flex-grow: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.he2 a{
    color: #34495e;
    text-decoration: none;
}
.he3{
    flex-grow: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.he3 a{
    color: #34495e;
    text-decoration: none;
}
.he4{
    flex-grow: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.he4 a{
    color: #34495e;
    text-decoration: none;
}
.he5{
    flex-grow: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.he5 a{
    color: #34495e;
    text-decoration: none;
}
.he2 a:hover{
    text-decoration: underline;
    color:#2980b9;
    font-size: 20px;
}
.he3 a:hover{
    text-decoration: underline;
    color:#2980b9;
    font-size: 20px;
}
.he4 a:hover{
    text-decoration: underline;
    color: #2980b9;
    font-size: 20px;
}
.he5 a:hover{
    text-decoration: underline;
    color: #2980b9;
    font-size: 20px;
}
.about{
    height: 600px;
    width: auto;
    background-color: #010101;
    opacity: 0.8;
}
.intro{
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#e67e22;
}
.text{
    color: #f0f0f0;
    text-align: left;
    padding-top: 150px;
    padding-left: 200px;
    width: 900px;
    line-height: 40px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resume {
    display: flex;
    justify-content: flex-end; 
    padding-right: 100px;
}
.resume button {
    padding: 10px 20px;
    background-color: #145081;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 42px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.resume button:hover {
    background-color: #e67e22;
    color: white;
    transform: scale(1.1);
}
.education h1 {
    text-align: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #34495e;
}
.container{
    display: flex;
    margin-top: 30px;
    padding: 80px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.college{
    flex-grow: 1;
    margin: 2px;
    line-height: 30px;
}
.line1{
    border: none; 
    height: 2px;
    background: rgba(0, 0, 0, 0.2); 
    width: 480px; 
}
.school{
    flex-grow: 1;
    margin: 2px;
    line-height: 30px;

}
.line2{
    border: none; 
    height: 2px;
    background: rgba(0, 0, 0, 0.2); 
    width: 480px; 
}
.skills h1 {
    text-align: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #34495e;
}
.container2{
    display: flex;
    background-color: #010101;
    opacity: 0.8;
}
.skill1{
    flex-grow: 1;
    padding: 80px;
}
.skill2{
    flex-grow: 1;
    padding: 80px;
}
.skill1 p{
    color: #f0f0f0;
}
.skill2 p{
    color: #f0f0f0;
}
.skill-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}
.skill-level {
    height: 100%;
    background-color: #ac34db;
    border-radius: 10px;
    width: 0; 
}
.c-skill{
    height: 100%;
    background-color: #ac34db;
    border-radius: 10px;
    width: 100%;
}
.python-skill{
    height: 100%;
    background-color: #ac34db;
    border-radius: 10px;
    width: 80%;
}
.java-skill{
    height: 100%;
    background-color: #ac34db;
    border-radius: 10px;
    width: 100%;
}
.html-skill{
    height: 100%;
    background-color: #ac34db;
    border-radius: 10px;
    width: 100%;
}
.css-skill{
    height: 100%;
    background-color: #ac34db;
    border-radius: 10px;
    width: 100%;
}
.project h1 {
    text-align: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #34495e;
}
.project-item {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s, box-shadow 0.4s;
    animation: fadeInUp 1s ease;
}
.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.project-item h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #283e51;
}
.project-item p {
    font-size: 1.1rem;
    line-height: 1.8;
}
.contact h1 {
    text-align: center;
    padding: 30px;
    font-family: 'Cambria', serif;
    color: #34495e;
}
.container4 {
    display: flex;
    background-color: #010101; 
    opacity: 0.8;
    padding: 40px;
}
.contact1{
    flex-grow: 1;
    padding: 60px;
    line-height: 40px;
    font-size: 20px;
    color: #f0f0f0;
}
.contact2{
    flex-grow: 1;
    padding: 50px;
    line-height: 40px;
}
.box {
    height: 30px;
    width: 300px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    border: none;
    padding: 5px;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
}
.box:hover {
    box-shadow: 0 0 10px rgba(248, 247, 247, 0.3);
}
.contact1 h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact1 .submit-button {
    width: 100px;
    padding: 10px;
    margin-left: 220px;
    margin-top: 30px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.contact1 .submit-button:hover {
    background-color: #d35400;
    transform: scale(1.1);
}
.contact2 h2 {
    font-size: 2rem;
    color: #e67e22;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.4s ease-in-out;
}
.contact2 h2:hover {
    transform: scale(1.1);
}
.contact2 h3 {
    font-size: 1.5rem;
    color: #b48979;
}
.contact2 p {
    font-size: 1.2rem;
    color: #7f8c8d;
}



